:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #4F75C2;
  --color-dark-blue: #204080;
  --color-item-hover:#D8E0F0;
  --color-light-primary: #72777A;
  --color-light-secondary: #484848;
  --color-order-hover: #B3B3B3;
  --color-search-bar-dark: rgba(0, 0, 0, 0.85);
}
